body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #1006c9;
  background: linear-gradient(180deg, rgba(16, 6, 201, 1) 0%, rgba(48, 48, 217, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

nav {
  padding: 0 1.5rem;
}

.content {
  min-height: calc(100vh - 70px - 64px);
  padding: 1.5rem 0;
}

.movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
}

label:not(:last-child) {
  margin-right: 1rem;
}

